vm/credentials.txt filter=git-crypt diff=git-crypt
vm/.casaos-token filter=git-crypt diff=git-crypt
vm/.qbittorrent-pw filter=git-crypt diff=git-crypt
vm/wire-arrs.py filter=git-crypt diff=git-crypt
vm/casaos-login.json filter=git-crypt diff=git-crypt
